* {
  font-size: 18px;
  font-family: "Comic Sans MS", cursive;
  margin: 0;
}

/* Navbar */

.container-navbar {
  height: 100px;
  background-color: #f8f8f8;
}

.container-logo-out {
  display: flex;
  float: inline-start;
  width: 350px;
}

.container-logo {
  float: inline-start;
  height: 0;
  width: 350px;
  border-top: 100px solid #feb200;
  border-right: 40px solid transparent;
}

.logo-navbar {
  margin-top: 17px;
  margin-left: -290px;
  float: inline-start;
  height: 66px;
}

.navbar-up {
  height: 50px;
  width: 100%;
  background-color: #1b2426;
  align-items: center;
}

.container-kontak {
  margin-right: 110px;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.email-icon {
  margin-right: 0.5rem;
}

.telpon-icon {
  margin-right: 0.5rem;
  margin-left: 1rem;
}

.span-for-kontak {
  color: #f8f8f8;
}

.navbar-bottom {
  font-family: "Comic Sans MS", cursive;
  height: 50px;
  font-weight: bold;
  color: #6e6d6d;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 110px;
  gap: 3rem;
}

/* Navbar End */

/* Footer */

.footer-top {
  background-color: #1b2426;
  color: #f8f8f8;
  display: flex;
  justify-content: center;
  font-size: small;
}

.container-text-top {
  width: 92%;
  display: flex;
}

.container-logo-footer-top {
  display: flex;
  justify-content: center;
}

/* .container-link-kilat {
  display: flex;
  justify-content: center;
} */

.container-text1-footer-top {
  text-align: justify;
  color: #f8f8f8;
}

.logo-footer {
  height: 72px;
  margin-bottom: 1rem;
  float: inherit;
}

.container-link-kilat-top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
}

.container-link-kilat-top p {
  font-size: xx-large;
  color: #feb200;
}

.container-link-kilat-bottom {
  display: flex;
  justify-content: center;
}

.container-link-kilat-bottom p {
  margin-left: 10px;
  color: #f8f8f8;
}

.container-alamat-top {
  height: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-alamat-top p {
  font-size: xx-large;
  color: #feb200;
}

.container-alamat-bottom p {
  margin-left: 10px;
}

.container-alamat-bottom ul li {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.container-link-sosmed {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.container-logo-footer,
.container-link-kilat,
.container-alamat,
.container-link-sosmed {
  width: 23%;
  margin: 1rem 0.4rem;
}

.footer-bottom {
  font-family: "Comic Sans MS", cursive;
  font-weight: bold;
  display: flex;
  height: 40px;
  background-color: #feb200;
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
  display: flex;
  align-items: center;
}

.content {
  height: 1500px;
}

/* Footer End */

/* Button */

.btn {
  background-color: #feb200;
  border-radius: 8px;
  border: 0;
}

/* Button End */

/* Jajar Genjang */

.jajar-genjang {
  width: 340px;
  height: 120px;
  transform: skew(-20deg);
  background-color: #feb200;
}

/* Jajar Genjang End */

.coba.aja.ini.deh {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem;
}

/* Button */
.button-all {
  padding: 6px 12px;
  transform: skew(-20deg);
  border-radius: 8px;
  background-color: #1b2426;
  color: #f8f8f8;
}

.button-next {
  background-color: #f8f8f8;
  color: #f8f8f8;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 135px;
}

.button-next .panah-kanan {
  margin-right: 0.8rem;
  margin-left: auto;
}

.button-next .span-button-next {
  margin-left: -75px;
  float: inline-start;
  color: #f8f8f8;
  z-index: 2;
}

.button-next-inner {
  margin: 0;
  color: #f8f8f8;
  width: 80px;
  border-top: 45px solid #1b2426;
  border-right: 15px solid transparent;
  z-index: 1;
}

.container-button-next-inner svg {
  float: inline-start;
}

.container-button-next-inner span {
  float: inline-start;
  margin-right: -80px;
  color: #f8f8f8;
}
